/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .logo {
    height: 4rem;
  }

  .shopping-cart {
    gap: 1rem;
  }

  .shopping-cart-header-container-title {
    font-size: 1.8rem;
  }

  .shopping-cart-item-price {
    font-size: 1.4rem;
  }

  .shopping-cart-item-name {
    font-size: 1.4rem;
  }

  .shopping-cart-header-container-back {
    font-size: 1.6rem;
  }

  .shopping-cart-item-img {
    width: 5rem;
  }

  .shopping-cart-total-price {
    font-size: 1.4rem;
  }

  .shopping-cart-checkout-button {
    font-size: 1.4rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .articles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 44em) {
  .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-menu-mobile {
    display: flex;
    gap: 3rem;
  }

  .header-menu-mobile-hamburguer i {
    font-size: 2.2rem;
  }

  .shopping-cart {
    right: 0%;
    top: 100%;
    width: 100%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    transition: top 0.3s ease-in-out;
    height: 70%;
  }

  .shopping-cart-open {
    top: 30%;
  }

  .shopping-cart-header-container-title {
    font-size: 3rem;
  }

  .shopping-cart-header-container-back {
    font-size: 2.8rem;
  }

  .shopping-cart-item-name {
    font-size: 2.2rem;
  }

  .shopping-cart-item-price {
    font-size: 2.2rem;
  }

  .shopping-cart-total-price {
    font-size: 2rem;
  }

  .shopping-cart-checkout-button {
    font-size: 2rem;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%); /* Oculta el menú fuera de la pantalla */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-nav.active {
    transform: translateX(0); /* Muestra el menú */
  }

  .main-nav-list {
    flex-direction: column;
    gap: 8rem;
  }

  .main-nav-link {
    font-size: 3.6rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .float-button-cart {
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    display: inline-table;
    top: 4rem;
  }

  .about-section {
    grid-template-columns: 1fr;
  }

  .about-section__img {
    order: 1;
  }

  .paragraph {
    order: 2;
    text-align: center;
  }

  .about-text {
    order: 2;
    text-align: center;
  }
}

@media (max-width: 34em) {
  .logo {
    height: 8rem;
  }

  .upper-header {
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .articles-container {
    grid-template-columns: 1fr;
  }
  .lower-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .categories-container {
    overflow-x: auto;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer-section {
    align-items: center;
    text-align: center;
  }

  .modal-content {
    flex-direction: column;
    text-align: center;
  }

  .paragraph,
  .list-items {
    font-size: 1.8rem;
  }

  .float-button-cart {
    top: 6rem;
  }
}
