.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.8rem;
}

.logo {
  height: 8rem;
}

.main-nav {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.header-menu-shopping-cart {
  font-size: 2.2rem;
  background-image: linear-gradient(
    to right,
    rgba(166, 0, 0, 1),
    var(--primary-color)
  );
  color: transparent;
  background-clip: text;
}

.header-menu-shopping-cart:hover {
  cursor: pointer;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  transition: transform 0.1s;
}

.category-item:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
}

.category-item-selected {
  background-color: #ff000017;
}

.category-img {
  height: 2rem;
  transition: transform 0.2s;
}

.category-item:hover .category-img {
  animation-name: upDownSmall;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upDownSmall {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.category-title {
  font-family: var(--secondary-font);
  font-weight: 800;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 3rem 0;
}

.articles-title {
  text-align: center;
  margin: 3rem 0;
  font-size: 3.2rem;
}

.article-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  transition: transform 0.1s;
}

.article-item:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.article-item-selected {
  background-color: #ff000017;
}

.article-item-img {
  height: 13rem;
  transition: transform 0.2s;
}

.article-item:hover .article-item-img {
  animation-name: upDown;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}

.article-name {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 1.4rem;
}

.article-price {
  font-size: 1.2rem;
}

.article-button-order {
  background: linear-gradient(
    90deg,
    rgba(166, 0, 0, 1) 0%,
    var(--primary-color) 100%
  );
  color: white;
  font-weight: 600;
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 1rem;
}

.article-button-order:hover {
  cursor: pointer;
  opacity: 0.7;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 40px 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  border-top-left-radius: 20%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.shopping-cart-open {
  right: 0%;
}

.shopping-cart-header-container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
}

.shopping-cart-header-container-title {
  text-align: center;
  font-size: 2rem;
}

.shopping-cart-header-container-back {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.shopping-cart-header-container-back:hover {
  cursor: pointer;
}

.shopping-cart-item-img {
  width: 5rem;
}

.shopping-cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
}

.shopping-cart-item-image-container {
  background-color: #ff000017;
  padding: 0.5rem;
  border-radius: 1rem;
}

.shopping-cart-item-name {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 1.2rem;
}

.shopping-cart-item-price {
  font-size: 1.2rem;
}

.shopping-cart-checkout-button {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(166, 0, 0, 1) 0%,
    var(--primary-color) 100%
  );
  color: white;
  font-weight: 600;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
}

.shopping-cart-checkout-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 500;
}
