.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.8rem;
}

.logo {
  height: 8rem;
}

.upper-header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  background-color: crimson;
  color: white;
}

.upper-header > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
}

.main-nav {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-close {
  display: none;
}

.main-nav-close:hover {
  color: var(--secondary-color);
}

.header-menu-shop-icon {
  position: relative;
}

.header-menu-mobile {
  display: none;
}

.float-button-cart {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
}

.header-menu-shopping-cart {
  font-size: 2.2rem;
  color: white;
}

.header-menu-shopping-cart:hover {
  cursor: pointer;
}

.header-menu-shopping-cart__number {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: #fff;
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lower-header {
  text-align: center;
  padding: 1rem 0;
  background-color: #565656;
  color: white;
}

.lower-header-title {
  font-size: 1.6rem;
}

.categories-container {
  display: flex;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow-x: hidden;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
}

.subcategories-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  transition: transform 0.1s;
  text-align: center;
  min-width: 13rem;
}

.subcategory-item {
  padding: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  cursor: pointer;
}

.category-item:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
}

.category-item-selected {
  background-color: #ff000017;
}

.category-img {
  height: 2rem;
  transition: transform 0.2s;
}

.category-item:hover .category-img {
  animation-name: upDownSmall;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upDownSmall {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.category-title {
  font-family: var(--secondary-font);
  font-weight: 800;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 3rem 0;
}

.articles-title {
  text-align: center;
  margin: 3rem 0;
  font-size: 3.2rem;
}

.article-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  transition: transform 0.1s;
  text-align: center;
}

.article-item:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  cursor: pointer;
}

.article-item-selected {
  background-color: #ff000017;
}

.article-item-img {
  height: 13rem;
  transition: transform 0.2s;
}

.article-item:hover .article-item-img {
  animation-name: upDown;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}

.article-name {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 1.4rem;
}

.article-price {
  font-size: 1.2rem;
}

.article-button-order,
.modal-button-order {
  background: linear-gradient(
    90deg,
    rgba(166, 0, 0, 1) 0%,
    var(--primary-color) 100%
  );
  color: white;
  font-weight: 600;
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 1rem;
}

.article-button-order:hover,
.modal-button-order:hover {
  cursor: pointer;
  opacity: 0.7;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 40px 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  gap: 2rem;
}

.shopping-cart-open {
  right: 0%;
}

.shopping-cart-header-container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
}

.shopping-cart-header-container-title {
  text-align: center;
  font-size: 3.2rem;
}

.shopping-cart-header-container-back {
  font-size: 2.4rem;
  color: var(--primary-color);
}

.shopping-cart-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shopping-cart-header-container-back:hover {
  cursor: pointer;
}

.shopping-cart-item-img {
  width: 10rem;
}

.shopping-cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
}

.shopping-cart-item-image-container {
  background-color: #ff000017;
  padding: 0.5rem;
  border-radius: 1rem;
  position: relative;
}

.shopping-cart-item-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--secondary-font);
}

.shopping-cart-item-name {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 2rem;
}

.shopping-cart-item-quantity {
  font-size: 1.4rem;
}

.shopping-cart-item-price-delete {
  width: 5rem;
}

.shopping-cart-item-price {
  font-size: 2.2rem;
  text-align: right;
}

.shopping-cart-item-delete {
  margin-top: 1rem;
  background-color: brown;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.shopping-cart-total-price {
  text-align: end;
  font-size: 2rem;
  font-weight: bold;
}

.shopping-cart-total-price span {
  color: var(--primary-color);
}

.shopping-cart-checkout-button {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(166, 0, 0, 1) 0%,
    var(--primary-color) 100%
  );
  color: white;
  font-weight: 600;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
}

.shopping-cart-checkout-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer {
  padding: 5rem 0;
  margin-top: 5rem;
  font-size: 1.3rem;
  background-image: linear-gradient(to top, #bababa, #f5f5f5);
  font-family: var(--secondary-font);
}

.footer-logo {
  width: 14rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer-section-title {
  font-size: 2rem;
  font-family: var(--primary-font);
}

.footer-section-link {
  text-decoration: none;
  color: #555555;
}

.footer-section-link:hover {
  color: var(--primary-color);
}

.footer-section-contact {
  display: flex;
  gap: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 70%;
  position: relative;
  display: flex;
  gap: 1rem;
  max-width: 80rem;
}
.modal-section-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#modal-title {
  font-size: 2rem;
}
#modal-price {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 2.6rem;
}
#modal-description {
  font-size: 1.4rem;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  line-height: 2rem;
}

.about-page-title {
  margin: 3rem 0;
}

.about-container,
.privacy-container {
  max-width: 80rem;
}

.about-container section {
  margin: 8rem 0;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3rem;
}

.about-section__img {
  width: 25rem;
}
